<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/stilos.css">
    <title>Login</title>
</head>
<body>
    <div class="formu">
        <form action="/login" method="post">
            <div class="inputforms">
                <div class="lblinput">
                    <div class="inputlbl">
                        <label class="lang lblform" key="F1" for="user">USUARIO</label>
                        <input class="forminput" type="text" id="user" name="user" required><br />
                    </div>
                    <br />
                    <div class="inputlbl">
                        <label class="lang lblform" key="F2" for="pass">CONTRASEÑA:</label>
                        <input class="forminput" type="password" id="pass" name="pass" required><br />
                    </div>
                    <br />
            <input class="cotiza pe" type="submit" value="Enviar" id="aceptar">
        </form>
    </div>
</body>
</html>